*{
    font-family:poppins;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .form-group{
    padding: 10px;
  }

  label{
    padding-bottom:5px;
  }
